<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h2>Asistente administrativo en Galeno Argentina S.A </h2> - <h3>2018</h3> </li>
            <p>Gestionar todas las llamadas, correos electrónicos, correspondencia, tanto entrantes como salientes, además de encargarse de la agenda general.
                Interactuar con clientes y atender consultas.
                Archivar, organizar, guardar y revisar todo tipo de documentos. Realizar fotocopias.
                Organizar reuniones y encargarse de la logística.
                Procesar y registrar información mediante la actualización de bases de datos o archivos informáticos.
                Coordinar y agendar reuniones de negocios, entrevistas, citas, eventos corporativos y otras actividades.</p>
        </ul>
        <ul>
            <li> <h2>Auxiliar en Evento F.E.H.G.R.A. en el A.G.H.A.I. </h2> - <h3>2017</h3> </li>
            <p>Recepción del público del evento.
                Informar a los asistentes de los servicios disponibles en el evento.
                Ubicación del público a sus lugares respectivos.
                Orden y organización del evento para garantizar el silencio durante el mismo.
                Asistente eventual de los participantes durante la dinámica de las disertaciones.</p>
        </ul><ul>
            <li> <h2>Auxiliar Forense en la Morgue del Hospital Baliña </h2> - <h3>2015</h3> </li>
            <p>Organizar y gestionar el área de trabajo.
                Realizar anotaciones correspondientes sobre necropsias clínicas o médico legales.
                Procesamiento de piezas, necrópsicas, quirúrgicas y biópsicas clínicas para su posterior estudio por parte del Forense.
                Saber llevar a término la selección y aproximación diagnóstica de citologías.
                Conocer el registro fotográfico de las piezas y preparaciones a nivel macroscópico, microscópico y ultramicroscópico.
                Recibir los cadáveres de los hospitales y sus efectos personales.
                Elaboración de informes periódicos de las actividades realizadas.
                Realiza la limpieza de los materiales e instrumentos de trabajo.  </p>
        </ul>
    </div>
</div>
