<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil photo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <h5><p id="nombre">Ruíz Díaz Jazmín Nélida </p></h5>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Perito en Investigación Criminalística, Business Analytics y actualmente estudiante de Marketing Digital y Programación. Resolutiva, observadora, intuitiva y muy autodidacta ya que me gusta estar siempre en constante aprendizaje, además de ser responsable, metódica y con habilidades sociales que he desarrollado a lo largo de mi vida. Me desenvuelvo con solvencia trabajando tanto en equipo como individualmente con una actitud proactiva frente a los desafíos y buscando la mejor solución.</p>
        </span>
    </div>
</div>
