<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h2>Business Analytics </h2> - <h3>2022</h3> </li>
            <p>Universidad Siglo 21.</p>
        </ul>
        <ul>
            <li> <h2>Marketing Digital </h2> - <h3>2022</h3> </li>
            <p>Aleph - Digital Ad Degree.</p>
        </ul>
        <ul>
            <li> <h2>Inglés</h2> - <h3>2021</h3> </li>
            <p>King’s College London.</p>
        </ul>
        <ul>
            <li> <h2>Big Data </h2> - <h3>2020</h3> </li>
            <p>Instituto Nacional de la Administración Pública.</p>
        </ul>
        <ul>
            <li> <h2>Taller de Actuación y Teatro </h2> - <h3>2020</h3> </li>
            <p>Espacio cultural Up. </p>
        </ul>
        <ul>
            <li> <h2>Seguridad e Higiene  </h2> - <h3>2020</h3> </li>
            <p>Intercontact - CAC - Online. </p>
        </ul>
        <ul>
            <li> <h2>Fundamentos de Marketing Digital </h2> - <h3>2020</h3> </li>
            <p>Google LLC. </p>
        </ul>
        <ul>
            <li> <h2>Formación de Formadores - Recursos Humanos</h2> - <h3>2019</h3> </li>
            <p>Intercontact - CAC - Online. </p>
        </ul>
        <ul>
            <li> <h2>Desarrollo de Apps Móviles </h2> - <h3>2019</h3> </li>
            <p>Google LLC. </p>
        </ul>
        <ul>
            <li> <h2>Marketing Estratégico  </h2> - <h3>2019</h3> </li>
            <p>Intercontact - CAC - Online. </p>
        </ul>
        <ul>
            <li> <h2>Herramientas Imprescindibles para un Community Manager </h2> - <h3>2019</h3> </li>
            <p>Intercontact - CAC - Online.</p>
        </ul>
        <ul>
            <li> <h2>Perito Superior en Investigación Criminalística  </h2> - <h3>2018</h3> </li>
            <p>Instituto Combate Mbororé.</p>
        </ul>
        <ul>
            <li> <h2>Curso Taller de Anfitriones Turísticos  </h2> - <h3>2018</h3> </li>
            <p>Punto Digital Iguazú.</p>
        </ul>
        <ul>
            <li> <h2>Geopolítica y Relaciones Sociales </h2> - <h3>2014</h3> </li>
            <p>Combate Mbororé - Posadas.</p>
        </ul>
        <ul>
            <li> <h2>Taller de Planimetría  </h2> - <h3>2013</h3> </li>
            <p>Combate Mbororé - Posadas.</p>
        </ul>
    </div>
</div>
